body {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: "Inconsolata", monospace;
    font-weight: 300;
}

p {
    font-size: 16px !important;
}

h1 {
    color: white;
    font-family: "Inconsolota", monospace;
    font-weight: 100;
    padding-right: 20px;
}

h3 {
    color: white;
    font-family: "Inconsolota", monospace;
    font-weight: 500;
}

#menu {
    align-items: center;
}

.horizontal {
    display: flex;
}

a {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    font-size: 16px !important;
}

a:visited {
    color: lightblue;
}

.menu-link {
    padding: 5px;
}

.menu-link:hover {
    background-color: #410000;
}

audio {
    padding-top: 10px;
    height: 45px;
}

#content {
    float: left;
}

.column {
    float: left;
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input, textarea {
    background-color: black;
    border-color: white;
    border-width: 1px;
    color: white;
}

input:focus, textarea:focus {
    border-color: blue;
}

#submit-button {
    padding: 5px;
    font-size: 15px;
    color: white;
    background-color: rgb(36, 32, 32);
}

#submit-button:hover {
    background-color: #410000;;
}

#email-input {
    min-width: 50vw;
}

#message-input {
    min-height: 100px;
    min-width: 50vw;
}

