body {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: "Inconsolata", monospace;
    font-weight: 300;
}

p {
    font-size: 16px !important;
}

h1 {
    color: white;
    font-family: "Inconsolota", monospace;
    font-weight: 100;
    padding-right: 20px;
}

h3 {
    color: white;
    font-family: "Inconsolota", monospace;
    font-weight: 500;
}

#menu {
    align-items: center;
}

.horizontal {
    display: flex;
}

a {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    font-size: 16px !important;
}

a:visited {
    color: lightblue;
}

.menu-link {
    padding: 5px;
}

.menu-link:hover {
    background-color: #410000;
}

audio {
    padding-top: 10px;
    height: 45px;
}

#content {
    float: left;
}

.column {
    float: left;
    width: 500px;
}

label {
    margin: 0px 0px 0px 12px;
}

input {
    background-color: black;
    border-color: white;
    color: white;
    margin: 12px;
    border-radius: 4px;
}

input[type=text] {
    padding: 5px;
    box-sizing: border-box;
    width: 300px;
}

input[type=text]:focus {
    background-color: rgb(54, 0, 0);
}

input[type=submit] {
    padding: 5px;
    font-size: 15px;
}

input[type=submit]:hover {
    background-color: #410000;;
}

#message-input {
    background-color: black;
    border-color: white;
    color: white;
    
    margin: 12px;
}

