/* --- Layout --- */

#content {
    float: left;
    width: 40%;
    margin-top: 15px;
    padding: 0px 20px;
    background-color: rgba(50, 50, 50, 0.33);
    border-radius: 10px;
    line-height: 1.5;
}

.container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#portrait {
    border: 1px solid white;
}

.horizontal {
    display: flex;
}

#header {
    position: fixed;
}

#menu {
    background-color: rgba(50, 50, 50, 0.33);
    padding: 10px;
    gap: 4px;
    border-radius: 8px;
}

body {
    background-color: black;
    color: white;
    padding: 10px;
    font-family: "Inconsolata", monospace;
    font-weight: 300;

    background-image: url('/img/v8_3.png'); 
    background-size: 50%;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-blend-mode: normal;
}

/* --- General --- */

p {
    font-size: 16px !important;
}

h1 {
    color: white;
    font-family: "Inconsolota", monospace;
    font-weight: 100;
    padding-right: 20px;
    line-height: 1;
}

h2 {
    line-height: 1;
}

h3 {
    color: white;
    font-family: "Inconsolota", monospace;
    font-weight: 500;
    line-height: 1;
}

h4 {
    line-height: 1;
}

a {
    font-family: "Inconsolata", monospace;
    font-weight: 400;
    font-size: 16px !important;
}

a:visited {
    color: rgb(0, 174, 232);
}

.menu-link {
    padding: 5px;
}

.menu-link:hover {
    background-color: #410000;
}

audio {
    padding-top: 10px;
    height: 45px;
}


/* --- Forms --- */

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 5px;
}

input, textarea {
    background-color: black;
    border-color: white;
    border-width: 1px;
    color: white;
}

input:focus, textarea:focus {
    border-color: blue;
}

#submit-button {
    padding: 5px;
    font-size: 15px;
    color: white;
    background-color: rgb(36, 32, 32);
}

#submit-button:hover {
    background-color: rgba(0, 0, 255, 0.2);
}

#message-input {
    min-height: 100px;
}

/* --- Code --- */

.code-container {
    position: relative;
    margin-bottom: 20px;
}

pre {
    background-color: rgba(50, 50, 50, 0.3);
    color: #00ff37;
    padding: 0px 10px;
    border-radius: 8px;
    overflow-x: auto;
    font-size: 13px;
    border: 1px solid grey;
}
code {
    font-family: monospace;
}

.copy-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    padding: 5px 0px;
    width: 60px;
    font-size: 12px;
    border: 1px solid grey;
    background-color: transparent;
    border-radius: 4px;
    color: white;
}
.copy-btn:active {
    background: #00ff3753;
}

.copy-btn:hover {
    background: rgba(0, 0, 255, 0.3);
}