body {
    background-color: black;
    color: white;
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
}

p {
    font-family: "monospace";
    color: white;
    font-size: 13px;
}

h1 {
    color: white;
    font-family: monospace;
    font-weight: lighter;
    padding-right: 20px;
}

#menu {
    align-items: center;
}

.horizontal {
    display: flex;
}

a {
    color: white;
}

a:visited {
    color: lightblue;
}

.menu-link {
    padding: 5px;
}

.menu-link:hover {
    background-color: #410000;
}

audio {
    padding-top: 10px;
    height: 45px;
}

#content {
    float: left;
}

.column {
    float: left;
    width: 500px;
}